In [1]:
# preprocessing of csv data is done here

In [2]:
import numpy as np
import pandas as pd

In [3]:
# load the csv file into a pandas dataframe 
df_airports=pd.read_csv('Airports_Data.csv')
print(df_airports.head())


# drop the columns that are not needed 
df_airports.drop(df_airports.iloc[:,5:12],axis=1,inplace=True)
df_airports.drop('ICAO',axis=1,inplace=True)


print(df_airports.head())

                                          Name          City  \
0                               Goroka Airport        Goroka
1                               Madang Airport        Madang
2                 Mount Hagen Kagamuga Airport   Mount Hagen
3                               Nadzab Airport        Nadzab
4  Port Moresby Jacksons International Airport  Port Moresby

            Country IATA  ICAO  Latitude   Longitude  Altitude Timezone DST  \
0  Papua New Guinea  GKA  AYGA -6.081690  145.391998      5282       10   U
1  Papua New Guinea  MAG  AYMD -5.207080  145.789002        20       10   U
2  Papua New Guinea  HGU  AYMH -5.826790  144.296005      5388       10   U
3  Papua New Guinea  LAE  AYNZ -6.569803  146.725977       239       10   U
4  Papua New Guinea  POM  AYPY -9.443380  147.220001       146       10   U

             Timezone.1
0  Pacific/Port_Moresby
1  Pacific/Port_Moresby
2  Pacific/Port_Moresby
3  Pacific/Port_Moresby
4  Pacific/Port_Moresby
                                          Name          City  \
0                               Goroka Airport        Goroka
1                               Madang Airport        Madang
2                 Mount Hagen Kagamuga Airport   Mount Hagen
3                               Nadzab Airport        Nadzab
4  Port Moresby Jacksons International Airport  Port Moresby

            Country IATA
0  Papua New Guinea  GKA
1  Papua New Guinea  MAG
2  Papua New Guinea  HGU
3  Papua New Guinea  LAE
4  Papua New Guinea  POM

In [4]:
# remove rows whose IATA codes are missing \N
df_airports = df_airports[df_airports['IATA'] != '\\N']

# convert this again into a csv file 
df_airports.to_csv('Airports_Data_Cleaned.csv',index=False)

In [66]:
# loading the Airlines data 
df_airlines=pd.read_csv('Airlines_Data.csv')
# print(df_airlines.head())

# drop the columns that are not needed 
df_airlines.drop('ICAO',axis=1,inplace=True)
# print(df_airlines.head())

# drop the callsign 
df_airlines.drop('Callsign',axis=1,inplace=True)
# print(df_airlines.head())

# check the Active column and if it is Y then keep it else remove it 
df_airlines=df_airlines.loc[df_airlines['Active']=='Y']
# print(df_airlines.head())

# drop the active column
df_airlines.drop('Active',axis=1,inplace=True)

# print(df_airlines.head())

# if the IATA code is - or NaN then remove that row 
df_airlines=df_airlines[df_airlines['IATA']!='-']

df_airlines = df_airlines[df_airlines['IATA']!='NaN']

# convert this again into a csv file
df_airlines.to_csv('Airlines_Data_Cleaned.csv',index=False)

In [25]:
# loading the flights data
df_flights=pd.read_csv('flights.csv')

C:\Users\shaik\AppData\Local\Temp\ipykernel_12884\3785559149.py:2: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df_flights=pd.read_csv('flights.csv')

In [26]:
# dropping year column 
df_flights.drop('YEAR',axis=1,inplace=True)

In [27]:
# dropping the tailnumber column 
df_flights.drop('TAIL_NUMBER',axis=1,inplace=True)

In [28]:
print(df_flights.head())

# dropping the month and day and day of the week 
df_flights.drop('MONTH',axis=1,inplace=True)
df_flights.drop('DAY',axis=1,inplace=True)
df_flights.drop('DAY_OF_WEEK',axis=1,inplace=True)

   MONTH  DAY  DAY_OF_WEEK AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT  \
0      1    1            4      AS             98            ANC
1      1    1            4      AA           2336            LAX
2      1    1            4      US            840            SFO
3      1    1            4      AA            258            LAX
4      1    1            4      AS            135            SEA

  DESTINATION_AIRPORT  SCHEDULED_DEPARTURE  DEPARTURE_TIME  DEPARTURE_DELAY  \
0                 SEA                    5          2354.0            -11.0
1                 PBI                   10             2.0             -8.0
2                 CLT                   20            18.0             -2.0
3                 MIA                   20            15.0             -5.0
4                 ANC                   25            24.0             -1.0

   ...  ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  \
0  ...         408.0          -22.0         0          0                  NaN
1  ...         741.0           -9.0         0          0                  NaN
2  ...         811.0            5.0         0          0                  NaN
3  ...         756.0           -9.0         0          0                  NaN
4  ...         259.0          -21.0         0          0                  NaN

   AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  \
0               NaN             NaN            NaN                  NaN
1               NaN             NaN            NaN                  NaN
2               NaN             NaN            NaN                  NaN
3               NaN             NaN            NaN                  NaN
4               NaN             NaN            NaN                  NaN

   WEATHER_DELAY
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

[5 rows x 29 columns]

In [29]:
print(df_flights.head())

  AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  \
0      AS             98            ANC                 SEA
1      AA           2336            LAX                 PBI
2      US            840            SFO                 CLT
3      AA            258            LAX                 MIA
4      AS            135            SEA                 ANC

   SCHEDULED_DEPARTURE  DEPARTURE_TIME  DEPARTURE_DELAY  TAXI_OUT  WHEELS_OFF  \
0                    5          2354.0            -11.0      21.0        15.0
1                   10             2.0             -8.0      12.0        14.0
2                   20            18.0             -2.0      16.0        34.0
3                   20            15.0             -5.0      15.0        30.0
4                   25            24.0             -1.0      11.0        35.0

   SCHEDULED_TIME  ...  ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  \
0           205.0  ...         408.0          -22.0         0          0
1           280.0  ...         741.0           -9.0         0          0
2           286.0  ...         811.0            5.0         0          0
3           285.0  ...         756.0           -9.0         0          0
4           235.0  ...         259.0          -21.0         0          0

   CANCELLATION_REASON  AIR_SYSTEM_DELAY  SECURITY_DELAY  AIRLINE_DELAY  \
0                  NaN               NaN             NaN            NaN
1                  NaN               NaN             NaN            NaN
2                  NaN               NaN             NaN            NaN
3                  NaN               NaN             NaN            NaN
4                  NaN               NaN             NaN            NaN

   LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0                  NaN            NaN
1                  NaN            NaN
2                  NaN            NaN
3                  NaN            NaN
4                  NaN            NaN

[5 rows x 26 columns]

In [30]:
# dropping scheduled departures and departure time and departure_delay
df_flights.drop('SCHEDULED_DEPARTURE',axis=1,inplace=True)
df_flights.drop('DEPARTURE_TIME',axis=1,inplace=True)
df_flights.drop('DEPARTURE_DELAY',axis=1,inplace=True)

In [31]:
print(df_flights.head())

  AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  TAXI_OUT  \
0      AS             98            ANC                 SEA      21.0
1      AA           2336            LAX                 PBI      12.0
2      US            840            SFO                 CLT      16.0
3      AA            258            LAX                 MIA      15.0
4      AS            135            SEA                 ANC      11.0

   WHEELS_OFF  SCHEDULED_TIME  ELAPSED_TIME  AIR_TIME  DISTANCE  ...  \
0        15.0           205.0         194.0     169.0      1448  ...
1        14.0           280.0         279.0     263.0      2330  ...
2        34.0           286.0         293.0     266.0      2296  ...
3        30.0           285.0         281.0     258.0      2342  ...
4        35.0           235.0         215.0     199.0      1448  ...

   ARRIVAL_TIME  ARRIVAL_DELAY  DIVERTED  CANCELLED  CANCELLATION_REASON  \
0         408.0          -22.0         0          0                  NaN
1         741.0           -9.0         0          0                  NaN
2         811.0            5.0         0          0                  NaN
3         756.0           -9.0         0          0                  NaN
4         259.0          -21.0         0          0                  NaN

   AIR_SYSTEM_DELAY  SECURITY_DELAY AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  \
0               NaN             NaN           NaN                  NaN
1               NaN             NaN           NaN                  NaN
2               NaN             NaN           NaN                  NaN
3               NaN             NaN           NaN                  NaN
4               NaN             NaN           NaN                  NaN

   WEATHER_DELAY
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN

[5 rows x 23 columns]

In [32]:
# dropping the taxi out and wheels off and wheels on and taxi in 
df_flights.drop('TAXI_OUT',axis=1,inplace=True)
df_flights.drop('WHEELS_OFF',axis=1,inplace=True)
df_flights.drop('WHEELS_ON',axis=1,inplace=True)

In [33]:
print(df_flights.head())

  AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_TIME  \
0      AS             98            ANC                 SEA           205.0
1      AA           2336            LAX                 PBI           280.0
2      US            840            SFO                 CLT           286.0
3      AA            258            LAX                 MIA           285.0
4      AS            135            SEA                 ANC           235.0

   ELAPSED_TIME  AIR_TIME  DISTANCE  TAXI_IN  SCHEDULED_ARRIVAL  ARRIVAL_TIME  \
0         194.0     169.0      1448      4.0                430         408.0
1         279.0     263.0      2330      4.0                750         741.0
2         293.0     266.0      2296     11.0                806         811.0
3         281.0     258.0      2342      8.0                805         756.0
4         215.0     199.0      1448      5.0                320         259.0

   ARRIVAL_DELAY  DIVERTED  CANCELLED CANCELLATION_REASON  AIR_SYSTEM_DELAY  \
0          -22.0         0          0                 NaN               NaN
1           -9.0         0          0                 NaN               NaN
2            5.0         0          0                 NaN               NaN
3           -9.0         0          0                 NaN               NaN
4          -21.0         0          0                 NaN               NaN

   SECURITY_DELAY  AIRLINE_DELAY  LATE_AIRCRAFT_DELAY  WEATHER_DELAY
0             NaN            NaN                  NaN            NaN
1             NaN            NaN                  NaN            NaN
2             NaN            NaN                  NaN            NaN
3             NaN            NaN                  NaN            NaN
4             NaN            NaN                  NaN            NaN

In [34]:
# dropping elasped_time,air_time,distance,taxi_in,scheduled_arrival,arrival_time,arrival_delay,diverted , cancelled , cancelation_reason,air_system_delay,security_delay,airline_delay,late_aircraft_delay,weather_delay
df_flights.drop('ELAPSED_TIME',axis=1,inplace=True)
df_flights.drop('AIR_TIME',axis=1,inplace=True)
df_flights.drop('DISTANCE',axis=1,inplace=True)
df_flights.drop('TAXI_IN',axis=1,inplace=True)
df_flights.drop('SCHEDULED_ARRIVAL',axis=1,inplace=True)
df_flights.drop('ARRIVAL_TIME',axis=1,inplace=True)
df_flights.drop('ARRIVAL_DELAY',axis=1,inplace=True)
df_flights.drop('DIVERTED',axis=1,inplace=True)
df_flights.drop('CANCELLED',axis=1,inplace=True)
df_flights.drop('CANCELLATION_REASON',axis=1,inplace=True)
df_flights.drop('AIR_SYSTEM_DELAY',axis=1,inplace=True)
df_flights.drop('SECURITY_DELAY',axis=1,inplace=True)
df_flights.drop('AIRLINE_DELAY',axis=1,inplace=True)
df_flights.drop('LATE_AIRCRAFT_DELAY',axis=1,inplace=True)
df_flights.drop('WEATHER_DELAY',axis=1,inplace=True)

In [35]:
print(df_flights.head())

  AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  SCHEDULED_TIME
0      AS             98            ANC                 SEA           205.0
1      AA           2336            LAX                 PBI           280.0
2      US            840            SFO                 CLT           286.0
3      AA            258            LAX                 MIA           285.0
4      AS            135            SEA                 ANC           235.0

In [36]:
# dropping scheduled time 
df_flights.drop('SCHEDULED_TIME',axis=1,inplace=True)

In [37]:
print(df_flights.head())

  AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT
0      AS             98            ANC                 SEA
1      AA           2336            LAX                 PBI
2      US            840            SFO                 CLT
3      AA            258            LAX                 MIA
4      AS            135            SEA                 ANC

In [38]:
# removing any null values from the airline column
df_flights = df_flights.dropna(subset=['AIRLINE'])
# removing any null values from the origin and destination columns
df_flights = df_flights.dropna(subset=['ORIGIN_AIRPORT'])
df_flights = df_flights.dropna(subset=['DESTINATION_AIRPORT'])

In [39]:
# excessive data , removing some random rows 
df_flights = df_flights.sample(frac=0.2, random_state=1)

In [40]:
print(df_flights)

        AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT
4605645      UA            356          11618               13930
398028       MQ           3458            ORD                 MLI
2978311      B6           1202            FLL                 JFK
2602363      DL           2529            ATL                 CLE
2478083      WN           2560            CLT                 BWI
...         ...            ...            ...                 ...
846186       WN           1872            SAN                 SMF
3838440      UA           1416            EWR                 DEN
1140933      UA            363            IAD                 ORD
2584806      B6            656            MCO                 SYR
4128323      WN            105            MDW                 SFO

[1163816 rows x 4 columns]

In [41]:
# generating the departure time vector of length equal to the number of rows in the dataframe
hours=np.random.randint(0,24,len(df_flights))
# generating the arrival_time vector of length equal to number of rows in the dataframe
arrival_hours=np.random.randint(0,24,len(df_flights))


# generating the departure minutes vector of length equal to the number of rows in the dataframe
minutes=np.random.randint(0,60,len(df_flights))
# generating the arrival minutes vector of length equal to the number of rows in the dataframe
arrival_minutes=np.random.randint(0,60,len(df_flights))
# generating the arrival seconds vector of length equal to the number of rows in the dataframe
arrival_seconds=np.random.randint(0,60,len(df_flights))


# generating the departure seconds vector of length equal to the number of rows in the dataframe
seconds=np.random.randint(0,60,len(df_flights))



departure_times = [f"{h:02}:{m:02}:{s:02}" for h, m, s in zip(hours, minutes, seconds)]
arrival_times = [f"{h:02}:{m:02}:{s:02}" for h, m, s in zip(arrival_hours, arrival_minutes, arrival_seconds)]
# assigning the formatted times to the dataframe
df_flights['DEPARTURE_TIME'] = departure_times
df_flights['ARRIVAL_TIME'] = arrival_times

print(df_flights.head())

        AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  \
4605645      UA            356          11618               13930
398028       MQ           3458            ORD                 MLI
2978311      B6           1202            FLL                 JFK
2602363      DL           2529            ATL                 CLE
2478083      WN           2560            CLT                 BWI

        DEPARTURE_TIME ARRIVAL_TIME
4605645       18:32:42     11:17:30
398028        14:05:34     02:02:38
2978311       04:49:11     06:10:26
2602363       19:02:00     05:14:10
2478083       21:06:34     09:26:10

In [47]:
# adding some random journey_start_date and journey_end_date

# generating the month vector of length equal to the number of rows in the dataframe
months=np.random.randint(1,13,len(df_flights))
# generating the date vector of length equal to the number of rows in the dataframe
dates=np.random.randint(1,31,len(df_flights))
# generating the year vector of length equal to the number of rows in the dataframe 
years = np.random.randint(2023,2025,len(df_flights))

# converting the month , date and year into a string 
journey_start_date = [f"{y}-{m:02}-{d:02}" for y, m, d in zip(years, months, dates)]
journey_end_date = [f"{y}-{m:02}-{d:02}" for y, m, d in zip(years, months, dates)]

# assigning the dates to the dataframe 
df_flights['JOURNEY_START_DATE'] = journey_start_date
df_flights['JOURNEY_END_DATE'] = journey_end_date

In [49]:
# adding a column called Available seats and adding some random numbers to it 
available_seats=np.random.randint(50,300,len(df_flights))
df_flights['AVAILABLE_SEATS']=available_seats

In [50]:
print(df_flights.head())

        AIRLINE  FLIGHT_NUMBER ORIGIN_AIRPORT DESTINATION_AIRPORT  \
4605645      UA            356          11618               13930
398028       MQ           3458            ORD                 MLI
2978311      B6           1202            FLL                 JFK
2602363      DL           2529            ATL                 CLE
2478083      WN           2560            CLT                 BWI

        DEPARTURE_TIME ARRIVAL_TIME JOURNEY_START_DATE JOURNEY_END_DATE  \
4605645       18:32:42     11:17:30         2023-09-06       2023-09-06
398028        14:05:34     02:02:38         2023-02-04       2023-02-04
2978311       04:49:11     06:10:26         2023-08-03       2023-08-03
2602363       19:02:00     05:14:10         2023-12-10       2023-12-10
2478083       21:06:34     09:26:10         2023-10-10       2023-10-10

         AVAILABLE_SEATS
4605645              238
398028               286
2978311              297
2602363              104
2478083              138

In [51]:
# converting this dataframe into a csv file
df_flights.to_csv('Flights_Data_Cleaned.csv',index=False)

In [53]:
# create a dataframe called economy class 
df_economy=pd.DataFrame(columns=['Class_ID','Flight_number','Class_type','Fare_cost','Meal_option'])

# insert data into Fare cost , some random values 
fare_cost=np.random.randint(100,500,len(df_flights))
df_economy['Fare_cost']=fare_cost

In [55]:
print(df_economy.head())
print(df_economy.shape)

  Class_ID Flight_number Class_type  Fare_cost Meal_option
0      NaN           NaN        NaN        491         NaN
1      NaN           NaN        NaN        123         NaN
2      NaN           NaN        NaN        295         NaN
3      NaN           NaN        NaN        460         NaN
4      NaN           NaN        NaN        314         NaN
(1163816, 5)

In [56]:
# insert data into Meal_option , some random values 
meal_option = np.random.choice(['Vegetarian','Non-Vegetarian','Vegan'],len(df_flights))
df_economy['Meal_option'] = meal_option

In [57]:
print(df_economy.head())

  Class_ID Flight_number Class_type  Fare_cost     Meal_option
0      NaN           NaN        NaN        491      Vegetarian
1      NaN           NaN        NaN        123  Non-Vegetarian
2      NaN           NaN        NaN        295      Vegetarian
3      NaN           NaN        NaN        460      Vegetarian
4      NaN           NaN        NaN        314  Non-Vegetarian

In [67]:
# processing csv files [airlines_cleaned_data.csv]
import csv

In [ ]:
# reading the csv file
file = open('Airlines_Data_Cleaned.csv')